html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: Pretendard, -apple-system;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: #000000;
}

a {
  color: #000000;
}
